*.pth
*.pt
__pycache__/
*.pyc
*.egg-info/
data/
.ipynb_checkpoints/

*.bak

# Répertoire de travail local (contient les checkpoints)
/results/

# Répertoire de travail local (contient les checkpoints)
/results/
